BullCowGame/Debug/BullCowGame.tlog/link.write.1.tlog
BullCowGame/Debug/BullCowGame.tlog/CL.write.1.tlog
BullCowGame/Debug/BullCowGame.tlog/link.command.1.tlog
BullCowGame/Debug/BullCowGame.tlog/BullCowGame.lastbuildstate
BullCowGame/Debug/BullCowGame.tlog/link.read.1.tlog
BullCowGame/Debug/BullCowGame.tlog/CL.read.1.tlog
BullCowGame/Debug/BullCowGame.tlog/CL.command.1.tlog
BullCowGame/Debug/vc141.idb
